body{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.date{
    grid-column: 1/4;
    grid-row: 1/4;
}

.greeting{
    grid-column:1/4;
    grid-row:2/4;
}

.time{
    grid-column: 2/4;
    grid-row:2/4;
}

.calculator{
    grid-column: 3/4;
    grid-row:2/4;
}

.todo{
    grid-column: 2/4;
    grid-row: 3/4
}