html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/src/Dashboard/Zen\ Dojo\ Wallpaper.jpg);
    max-width: 100%;
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 9fr 300px;
    grid-template-rows: auto 100px 100px 100px 300px 100px;
    grid-template-areas: 
      ". greeting1 ."
      ". . ."
      ". date ."
      ". time ."
      "calculator . todo"
      ". . ."
  }

  .greeting1 {
      grid-area: greeting1;
      color: white;
      font-size: 45px;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .greeting2 {
    display:none;
  }

  .greeting3 {
    display:none;
  }

  .greeting4 {
    display:none;
  }

  .date {
      grid-area: date;
      color: white;
      font-size: 80px;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .time {
      grid-area: time;
      color: white;
      font-size: 60px;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .todo {
      grid-area: todo;
      color: white;
      font-size: 50px;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .calculator{
    grid-area: calculator;
    display:flex;
    background:#993300;
    width: 300px;
    height: 350px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .screen {
    width:280px;
    height: 50px;
    background-color:white;
    margin: 10px;
    alignment: center;
  }
  
  .calculator > div:not(:first-child)
   {
    width: 65px;
    height: 40px;
    background: white;
    margin: 2px;
    border: 20px black;
    text-align: center;
  }
  
  .zero{
    width: 130px !important;
  }

  /* ----------- Tablet----------- */


  @media (max-width: 1200px) {

    html {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/src/Dashboard/Zen\ Dojo\ Wallpaper.jpg);
    max-width: 100%;
  }

    .container {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: auto 100px 100px 100px 300px 100px;
      grid-template-areas: 
        ". greeting2 ."
        ". . ."
        ". date ."
        ". time ."
        "calculator . todo"
        ". . ."
    }

    .greeting1 {
      display: none;
    }

    .greeting2 {
        grid-area: greeting2;
        display: inline-block;
        color: white;
        font-size: 35px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    .greeting3 {
      display: none;
    }

    .greeting4 {
      display: none;
    }
  
    .date {
        grid-area: date;
        color: white;
        font-size: 60px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  
    .time {
        grid-area: time;
        color: white;
        font-size: 50px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  
    .todo {
        grid-area: todo;
        color: white;
        font-size: 35px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  
    .calculator{
      grid-area: calculator;
      display:flex;
      background:#993300;
      width: 280px;
      height: 330px;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .screen {
      width:260px;
      height: 50px;
      background-color:white;
      margin: 10px;
      alignment: center;
    }
    
    .calculator > div:not(:first-child)
     {
      width: 60px;
      height: 30px;
      background: white;
      margin: 2px;
      border: 20px black;
      text-align: center;
    }
    
    .zero{
      width: 115px !important;
    }
  }

  @media (max-width: 1000px) {
    .date {
      font-size: 45px;
    }

  /* ----------- Mobile ----------- */

  @media (max-width: 400px) {

    html {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/src/Dashboard/phone\ wallpaper\ japanese\ art.jpg);
    max-width: 100%;
  }

    .container {
      text-align: center;
      display: grid;
      grid-template-columns: auto 380px auto;
      grid-template-rows: 75px 50px 50px 75px 75px 75px;
      grid-template-areas: 
        ". greeting3 ."
        ". . ."
        ". date ."
        ". time ."
        ". todo ."
        ". calculator ."
    }

    .greeting1 {
      display: none;
    }

    .greeting2 {
      display: none;
    }

    .greeting3 {
      grid-area: greeting3;
      display: inline-block;
      color: white;
      font-size: 20px;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    .date {
        grid-area: date;
        color: white;
        font-size: 30px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  
    .time {
        grid-area: time;
        color: white;
        font-size: 25px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  
    .todo {
        grid-area: todo;
        color: white;
        font-size: 30px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
  
    .calculator{
      grid-area: calculator;
      display:flex;
      background:#993300;
      width: 140px;
      height: 165px;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .screen {
      width:130px;
      height: 25px;
      background-color:white;
      margin: 5px;
      alignment: center;
    }
    
    .calculator > div:not(:first-child){
      width: 30px;
      height: 15px;
      background: white;
      margin: 1px;
      border: 20px black;
      text-align: center;
    }
    
    .zero{
      width: 115px !important;
    }
  }