html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(/src/Dashboard/amazing-animal-beautiful-beautifull.jpg);
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 300px 100px 300px 100px;
    grid-template-areas: 
      ". greeting ."
      ". date ."
      ". time ."
      "calculator . todo";
  }

  .greeting {
      grid-area: greeting;
      color: white;
      font-size: 60px;
  }

  .date {
      grid-area: date;
      color: white;
      font-size: 80px;
  }

  .time {
      grid-area: time;
      color: white;
      font-size: 60px;
  }

  .calculator {
      grid-area: calculator;
      color: white;
  }

  .todo {
      grid-area: todo;
      color: white;
      font-size: 50px;
  }