html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: black;
  }


  
  .dashboard{
      color: white;
  }

  .flexbox{
      color: white;
  }