@media (max-width: 576px){
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 250px 250px 250px 250px;
        justify-content: center;
        grid-template-areas: 
        "main"
        "title1"
        "title2"
        "title3";
    }

    .main {
        grid-area: main;
    }

    .title1 {
        grid-area: title1; 
    }

    .title2 {
        grid-area: title2; 
    }

    .title3 {
        grid-area: title3; 
    }
}


